* {
    /*font-size: 24px;*/
    font-family: sans-serif;
    font-size: 2rem;
}

body {
    background-color: #f58b57; !important;
    /*padding: 0;*/
    /*margin: 0;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    height: 100vh;
    width: 100vh;

}

/*TODO .. what should change in card css?*/
.card {
    /*background-image: url(covered_square.png);*/
    background-color: #a75f3b;
    background-repeat: no-repeat;
    background-size: cover;

    width: auto;
    height: auto;

    font-size: 1.8rem;

    border-radius: 0px;
    border: none;
    margin: 1px;
    transition:.25s;
    /*opacity: 1;*/
    transform: rotateY(0deg);

    /*animation: fadeIn 0.5s;*/
    animation-fill-mode: forwards;
}

.card:hover {
    opacity: 70%;
}

.card.flagged {
    background-image: url(flag_icon_blank.png);
    background-color: #a75f3b;
    /*opacity: 0;*/
    transform: rotateY(0deg);
    /*font-size: 3vh;*/
    /*text-align: center;*/

}

.card.flagged.cardDisplay:hover {
    opacity: 70%;
}

.card.flipped {
    /*background-image: url(uncovered_square.png);*/
    background-color: #e6dfcc;
    /*opacity: 1;*/
    /*transform: rotateY(360deg);*/
    /*font-size: 3vh;*/
    text-align: center;

}


.grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    border-radius: 10px;
    padding:5px;
    width: calc(70vh);
    background-color: #412517;
}

/*.grid > div::before {*/
/*    content: "";*/
/*    padding-bottom: 100%;*/
/*    display: block;*/
/*}*/

.card:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

/*.card.flipped:after {*/
/*    content: "";*/
/*    display: block;*/
/*    padding-bottom: 100%;*/
/*}*/

.cardDisplay {
    position: absolute;
    width: 100%;
    height: 100%;
    /*text-align: center;*/
    /*vertical-align: middle;*/
    /*font-size: 1rem;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.gridWrapper .grid .card .cardDisplay:hover {
    opacity: 70%;
    color: black;

}

.menu {
    background-color: #f58b57; !important;
    display: flex;
    justify-content: center;
    margin-bottom: 0.5em;
    flex-wrap: wrap;
    align-items: center;
}

.menuButton {
    padding: 5px 0.5em;
    border: 0px solid gray;
    background-color: rgba(128, 128, 128, 0.22);
    margin: 5px;
    cursor: pointer;
    border-radius: 0.5em;
    font-size: 1em;
}

.menuButton:hover {
    color: white;
    background: black;
    opacity: 60%;
}

.gridWrapper {
    background-color: #f58b57; !important;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

/* Overlay of board when player wins */
#overlay-win, #overlay-lose {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
    /*opacity: 1;*/
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeOut 0.5s;
    transition: all 0s;
    visibility: hidden;
    animation-fill-mode: forwards;
}

#overlay-win.active{
    display: flex;
    background-image: url(kanye-madison-square-garden.jpg);
    visibility: visible;
    animation: fadeIn 1s;
    animation-fill-mode: forwards;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
}

#overlay-lose.active {
    display: flex;
    background-image: url(kanye-sad.jpg);
    visibility: visible;
    animation: fadeIn 0.5s;
    animation-fill-mode: forwards;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */

}

#overlay.win, #overlay.lose * {
    pointer-events: none;
}

#overlayin.win, #overlayin.lose {
    padding: 1em;
    padding-left: 4em;
    padding-right: 4em;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(255, 255 255);
    box-shadow: 0 0 20px black;
}

#overlayin-win, #overlayin-lose p {
    text-align: center;
    font-size: 1em;
    margin: 0px;
}

p.big {
    font-size: 8em !important;
    color: #412517;
}

p.darker {
    color: #412517;
    font-size: 2em !important;
}

/*p.glow {*/
/*    animation: glow 1s infinite alternate-reverse;*/
/*}*/

#overlay-win.active #overlayin-win {
    opacity: 0;
    animation: spinIn 1s ease-in-out;
    animation-fill-mode: forwards;
}

#overlay-lose.active #overlayin-lose {
    /*background-color: #f58b57;*/
    opacity: 0.5;
    animation: spinIn 1s ease-in-out;
    animation-fill-mode: forwards;
}


.status {
    margin-top: 5px;
    text-align: center;
    color: #412517;
    background-color: #f58b57; !important;
}

@keyframes glow {
    from { text-shadow: 0 0 20px rgb(255, 255, 0); }
    to { text-shadow: 0 0 20px rgb(255, 115, 0); }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes spinIn {
    from { transform: scale(0.1) rotateX(0deg) ; opacity: 0; }
    to { transform: scale(1) rotateX(360deg) ;  opacity: 1; }
}

/*#sound {*/
/*    width: 40px;*/
/*    height: 30px;*/
/*    appearance: none;*/
/*    -moz-appearance: none;*/
/*    -webkit-appearance: none;*/
/*    content: url('sound-on.webp');*/
/*    display: block;*/
/*    outline: none;*/
/*    user-select: none;*/
/*}*/

/*#sound:checked {*/
/*    content: url('sound-off.webp');*/
/*}*/

/* flex container */
/*#main {*/
/*    min-height: 300px;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    display: flex;*/
/*    flex-flow: row;*/

/*}*/

/*#main .nav {*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    background-color: red;*/
/*}*/

/*#gridWrapper .article {*/
/*    width: 500px;*/
/*    height: 400px;*/
/*    background-color: blue;*/
/*}*/

/*#main .article #game-container {*/

/*}*/

/*#main .aside {*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    background-color: red;*/
/*}*/

header {
    /*text-align: center;*/
}
header, footer {
    background-color: #e6dfcc;
    display: block;
    margin: 4px;
    padding: 5px;
    /*min-height: 50px;*/
    border: 5px #412517;
    width: 100%;
    color: #412517;
    text-align: center;
    /*line-height: 5%;*/
    /*vertical-align: center;*/
}

/*.status {*/
/*    margin-top: 5px;*/
/*    text-align: center;*/
/*    color: gray;*/
/*}*/

